<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <img alt="image" class="img-circle img-responsive" style="width: 48px;height: 48px;" ng-src="{{currentUser.user.user.logoPath}}"/>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold" ng-if="currentUser.user.name">{{currentUser.user.name}}</strong>
                             </span>
                                <span class="text-muted text-xs block" ng-switch="currentUser.role.title">
                                    <div ng-switch-when="staff">员工用户<b class="caret"></b></div>
                                    <div ng-switch-when="enterprise">企业用户<b class="caret"></b></div>
                                    <div ng-switch-when="admin">管理员<b class="caret"></b></div>
                                </span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu="" class="animated fadeInRight m-t-xs">
                        <li><a ng-href="#">个人信息</a></li>
                        <li><a ui-sref="staff.contacts">通讯录</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="logout();">注销登录</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <img alt="image" src="/img/logo_small.png"/>
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="staff.main"><i class="fa fa-home"></i> <span class="nav-label">{{ 'MAIN_PAGE' | translate}}</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="staff.coursesLibrary"><i class="fa fa-bookmark"></i> <span class="nav-label">{{ 'COURSES_LIBRARY' | translate}}</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="staff.learningPath"><i class="fa fa-road"></i> <span class="nav-label">{{ 'LEARNING_PATH' | translate}}</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="staff.associates"><i class="fa fa-star"></i> <span class="nav-label">{{ 'ASSOCIATES' | translate}}</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="staff.announcementBoard"><i class="fa fa-tv"></i> <span class="nav-label">{{ 'ANNOUNCEMENTS_BOARD' | translate}}</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="staff.others"><i class="fa fa-spin fa-cog"></i> <span class="nav-label">{{ 'OTHERS' | translate}}</span> </a>
            </li>
        </ul>

    </div>
</nav>