<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--配置数据库方言-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!--指定是否显示SQL-->
        <property name="hibernate.show_sql">true</property>
        <!--指定是否格式化SQL-->
        <property name="hibernate.format_sql">false</property>
        <!--指定是否自动创建数据表-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--列出所有持久化类-->
        <mapping class="edu.jxufe.tiamo.fishingpathsys.domain.User"/>
        <mapping class="edu.jxufe.tiamo.fishingpathsys.domain.StaffInfo"/>
    </session-factory>
</hibernate-configuration>