<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--配置数据库方言-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!--指定是否显示SQL-->
        <property name="hibernate.show_sql">true</property>
        <!--指定是否格式化SQL-->
        <property name="hibernate.format_sql">false</property>
        <!--指定是否自动创建数据表-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/FishingPathSystem</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--列出所有持久化类-->
        <mapping class="edu.jxufe.tiamo.fishingpathsys.domain.Admin"/>
        <mapping class="edu.jxufe.tiamo.fishingpathsys.domain.Announcement"/>
        <mapping class="edu.jxufe.tiamo.fishingpathsys.domain.Course"/>
        <mapping class="edu.jxufe.tiamo.fishingpathsys.domain.CourseType"/>
        <mapping class="edu.jxufe.tiamo.fishingpathsys.domain.CourseCategory"/>
        <mapping class="edu.jxufe.tiamo.fishingpathsys.domain.CourseChapter"/>
        <mapping class="edu.jxufe.tiamo.fishingpathsys.domain.CourseSection"/>
        <mapping class="edu.jxufe.tiamo.fishingpathsys.domain.Department"/>
        <mapping class="edu.jxufe.tiamo.fishingpathsys.domain.Enterprise"/>
        <mapping class="edu.jxufe.tiamo.fishingpathsys.domain.EnterpriseType"/>
        <mapping class="edu.jxufe.tiamo.fishingpathsys.domain.Interest"/>
        <mapping class="edu.jxufe.tiamo.fishingpathsys.domain.InterestType"/>
        <mapping class="edu.jxufe.tiamo.fishingpathsys.domain.LearningPath"/>
        <mapping class="edu.jxufe.tiamo.fishingpathsys.domain.LearningRecord"/>
        <mapping class="edu.jxufe.tiamo.fishingpathsys.domain.PostType"/>
        <mapping class="edu.jxufe.tiamo.fishingpathsys.domain.Staff"/>
        <mapping class="edu.jxufe.tiamo.fishingpathsys.domain.User"/>
    </session-factory>
</hibernate-configuration>