<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>课程库</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.jsp">首页</a>
            </li>
            <li class="active">
                <strong>课程库</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        <img style="width: 100%;" src="/img/courses/10.jpg"/>
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    211课时
                                </span>
                        <small class="text-muted">演讲与口才</small>
                        <a href="#" class="product-name"> 奥巴马演讲 </a>
                        <div class="small m-t-xs">
                            一个短小的演讲， 却能拉近一个国家最有权利的人和平民百姓间的距离。
                        </div>
                        <div class="m-t text-right" ui-sref-active="active">
                            <a ui-sref="staff.studyVideo" class="btn btn-xs btn-outline btn-primary">学习 <i class="fa fa-play"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        <img style="width: 100%;" src="/img/courses/1.jpg"/>
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    10课时
                                </span>
                        <small class="text-muted">职业修炼</small>
                        <a href="#" class="product-name"> 创造学</a>

                        <div class="small m-t-xs">
                            创造学是一门研究人类劳动中最高级、最活跃、最复杂、也是最有意义的一种实践活动。
                        </div>
                        <div class="m-t text-right">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">学习 <i class="fa fa-play"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        <img style="width: 100%;" src="/img/courses/3.jpg"/>
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    12课时
                                </span>
                        <small class="text-muted">金融经济</small>
                        <a href="#" class="product-name"> 投资与估值</a>
                        <div class="small m-t-xs">
                            本课程主要讲述了估值与投资的相关知识。
                        </div>
                        <div class="m-t text-right">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">学习 <i class="fa fa-play"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        <img style="width: 100%;" src="/img/courses/4.jpg"/>
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    6课时
                                </span>
                        <small class="text-muted">金融经济</small>
                        <a href="#" class="product-name"> 风险投资与金融市场 </a>
                        <div class="small m-t-xs">
                            风险投资与金融市场的相关知识，课程涵盖如何筹资组建公司、IPO估值方法以及股票与债券等内容。
                        </div>
                        <div class="m-t text-right">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">学习 <i class="fa fa-play"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        <img style="width: 100%;" src="/img/courses/5.jpg"/>
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    68课时
                                </span>
                        <small class="text-muted">金融经济</small>
                        <a href="#" class="product-name"> 宏观经济学 </a>
                        <div class="small m-t-xs">
                            宏观经济学，是使用国民收入、经济整体的投资和消费等总体性的统计概念来分析经济运行规律的一个经济学领域。
                        </div>
                        <div class="m-t text-right">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">学习 <i class="fa fa-play"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        <img style="width: 100%;" src="/img/courses/6.jpg"/>
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    25课时
                                </span>
                        <small class="text-muted">金融经济</small>
                        <a href="#" class="product-name"> 货币银行学 </a>
                        <div class="small m-t-xs">
                            本课程主要讲述了货币银行学相关的内容。
                        </div>
                        <div class="m-t text-right">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">学习 <i class="fa fa-play"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        <img style="width: 100%;" src="/img/courses/7.jpg"/>
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    71课时
                                </span>
                        <small class="text-muted">金融经济</small>
                        <a href="#" class="product-name"> 微观经济学 </a>
                        <div class="small m-t-xs">
                            微观经济学主要以单个经济单位(单个的生产者、单个的消费者、单个市场的经济活动)作为研究对象，分析单个生产者如何将有限的资源分配在各种商品的生产上以取得最大的利润.
                        </div>
                        <div class="m-t text-right">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">学习 <i class="fa fa-play"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-content product-box">

                    <div class="product-imitation">
                        <img style="width: 100%;" src="/img/courses/8.jpg"/>
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                    197课时
                                </span>
                        <small class="text-muted">金融经济</small>
                        <a href="#" class="product-name"> 金融学 </a>
                        <div class="small m-t-xs">
                            结合实际讲述了生活中最常见的金融问题
                        </div>
                        <div class="m-t text-right">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">学习 <i class="fa fa-play"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>