<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>员工管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.jsp">首页</a>
            </li>
            <li class="active">
                <strong>其他</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="StaffsManagementCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>其他</h5>
                </div>
                <div class="ibox-content">
                    <img class="img-responsive center-block" src="img/jjkfz.gif">
                    <h3 style="text-align: center">程序员正在加紧开发中，敬请期待！</h3>
                </div>
            </div>
        </div>
    </div>
</div>