<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>课程管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.jsp">首页</a>
            </li>
            <li class="active">
                <strong>课程管理</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInUp">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>课程列表</h5>

                    <div class="ibox-tools">
                        <a href="" class="btn btn-primary btn-xs">添加课程</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-1">
                            <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> 刷新</button>
                        </div>
                        <div class="col-md-11">
                            <div class="input-group"><input type="text" placeholder="查找课程" class="input-sm form-control"> <span class="input-group-btn">
                                                <button type="button" class="btn btn-sm btn-primary"> 查找</button> </span></div>
                        </div>
                    </div>

                    <div class="project-list">

                        <table class="table table-hover">
                            <tbody>
                            <tr ng-repeat="courseDTO in courseDTOs">
                                <td class="project-status">
                                    <span class="label label-warning">必修</span>
                                </td>
                                <td class="project-title">
                                    <a ui-sref="project_detail">{{courseDTO.course.name}}</a>
                                    <br/>
                                    <small>{{courseDTO.course.courseType.name}}</small>
                                </td>
                                <td class="project-completion text-center">
                                    <small>热门度：{{courseDTO.completeness}}%</small>
                                    <div class="progress progress-mini">
                                        <div ng-style="{'width':'{{courseDTO.completeness}}%'}" class="progress-bar"></div>
                                    </div>
                                </td>
                                <td class="project-people">
                                    <a href="">
                                        <img ng-repeat="learningRecordDTO in courseDTO.learningRecordDTOList | limitTo:5" alt="image" class="img-circle" ng-src="{{courseDTO.learningRecordDTOList[$index].learningPath.staff.user.logoPath}}">
                                    </a>
                                </td>
                                <td class="project-actions">
                                    <a href="" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> 查看 </a>
                                    <a href="" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> 自定义 </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <nav class="text-center" aria-label="Page navigation">
                            <ul class="pagination pagination-lg " id="pagination"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
