<toaster-container></toaster-container>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>企业信息</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.jsp">首页</a>
            </li>
            <li class="active">
                <strong>企业信息</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>企业信息</h5>
                </div>
                <div class="ibox-content">
                    <form role="form" class="form-horizontal" ng-submit="updateEnterpriseInfo();">
                        <div class="form-group"><label class="col-sm-2 control-label">企业名称</label>
                            <div class="col-sm-10"><input type="text" id="name" name="name" class="form-control" ng-model="enterprise.user.name" required></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">行业类型</label>
                            <div class="col-sm-10">
                                <ui-select ng-model="$parent.enterprise_type" thee="bootstrap">
                                    <ui-select-match placeholder="选择行业类型">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in enterpriseTypes | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">企业描述</label>
                            <div class="col-sm-10"><textarea type="text" id="description" name="description" class="form-control" ng-model="enterprise.user.description"/></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">联系人</label>
                            <div class="col-sm-10"><input type="text" class="form-control" id="linkMan" name="linkMan" ng-model="enterprise.linkMan" required></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" >联系人手机号码</label>
                            <div class="col-sm-10"><input type="text" id="telephone" name="telephone" class="form-control" ng-model="enterprise.user.telephone" required></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">企业营业执照</label>
                            <!--dom结构部分-->
                            <div id="uploader-demo" class="col-sm-10">
                                <!--用来存放item-->
                                <div id="fileList" class="uploader-list">
                                    <div class="file-item thumbnail" style="height: 310px;">
                                        <img id="businessLicensePath" ng-src="{{enterprise.businessLicensePath}}" style="width: 210px;height: 297px;border: #1ab394 1px solid;">
                                    </div>
                                </div>
                                <div id="filePicker" style="text-align: center">选择图片</div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button ladda="loading" class="ladda-button ladda-button-demo btn btn-primary" data-style="expand-right">保存修改</button>
                                <a ui-sref="enterprise.main" role="button" class="btn btn-white" type="submit">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>