<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content" ng-controller="EnterpriseMainCtrl as main">
                    <div>
                        <h1 class="m-b-xs">本周学习情况</h1>
                    </div>
                    <div>
                        <canvas linechart options="main.lineOptions" data="main.lineData" legend=true height="70" responsive=true ></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">2018/04/19</span>
                    <h5>今日学习员工数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">8</h1>
                    <div class="stat-percent font-bold text-navy">40% <i class="fa fa-level-up"></i></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">四月</span>
                    <h5>本月员工学习人次</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">98</h1>

                    <div class="stat-percent font-bold text-info">40% <i class="fa fa-level-up"></i></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">2018/04/19</span>
                    <h5>今日员工学习课程数量</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">11</h1>
                    <div class="stat-percent font-bold text-navy">20% <i class="fa fa-level-up"></i></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-warning pull-right">四月</span>
                    <h5>本月员工学习课程总数量</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">431</h1>
                    <div class="stat-percent font-bold text-warning">16% <i class="fa fa-level-up"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>待办事项</h5>
                    <span class="label label-warning">课程实践项目审核</span>
                    <div ibox-tools></div>
                </div>

                <div class="ibox-content inspinia-timeline">

                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-4 date">
                                <i class="fa fa-file-text"></i>
                                2018/04/12
                                <br/>
                                <small class="text-navy">20:12</small>
                            </div>
                            <div class="col-xs-8 content no-top-border">
                                <p class="m-b-xs"><strong>课程实践项目审核</strong></p>
                                <p>张三通过了课程（创造学）的测试，等待布置课程实践项目。</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-4 date">
                                <i class="fa fa-envelope"></i>
                                2018/04/12
                                <br/>
                                <small class="text-navy">16:03</small>
                            </div>
                            <div class="col-xs-8 content">
                                <p class="m-b-xs"><strong>新消息</strong></p>
                                <p>徐一(CEO)给您发送新消息，请尽快处理。</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-4 date">
                                <i class="fa fa-tv"></i>
                                2018/04/12
                                <br/>
                                <small class="text-navy">13:02</small>
                            </div>
                            <div class="col-xs-8 content">
                                <p class="m-b-xs"><strong>新公告</strong></p>
                                <p>系统已成功更新至v1.2版本，点击查看新功能。</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-4 date">
                                <i class="fa fa-bell"></i>
                                2018/04/11
                                <br/>
                                <small class="text-navy">08:14</small>
                            </div>
                            <div class="col-xs-8 content">
                                <p class="m-b-xs"><strong>课程消息</strong></p>
                                <p>
                                    冯六开始了新课程(价值创造和战略)的学习
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>