<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="anon.login">渔径系统</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a class="page-scroll" page-scroll href="#page-top">首页</a></li>
                    <li><a class="page-scroll" page-scroll href="#features">解决方案</a></li>
                    <li><a class="page-scroll" page-scroll href="#comments">成果</a></li>
                    <li><a class="page-scroll" page-scroll href="#team">团队</a></li>
                    <li><a class="page-scroll" page-scroll href="#contact">联系我们</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel" ng-non-bindable>
    <ol class="carousel-indicators">
        <li data-target="inSlider" data-slide-to="0" class="active"></li>
        <li data-target="inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>打破<br/>
                        传统管理方式<br/>
                        重新思考<br/>
                        E-Learning</h1>
                    <p>渔径科技，致力于塑造一个全新的在线学习管理平台。</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">了解更多</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="img/landing/laptop.png" alt="laptop"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                    <h1>人工智能 <br/> 互联网风暴席卷而来</h1>
                    <p>渔径科技，致力于打造智能评估与推荐模型并通过互联网传递知识。</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">开始学习</a></p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>
    </div>
    <a class="left carousel-control" data-target="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">上一页</span>
    </a>
    <a class="right carousel-control" data-target="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">下一页</span>
    </a>
</div>
<section id="features" class="container services">
    <div class="row">
        <div class="col-sm-4">
            <h2>综合能力智能评测模型</h2>
            <p>设计一种针对员工能力的测评模型，能够精准反馈出大学生的学习能力、适应能力、创造力、应变能力、协调沟通能力以及所掌握的技能程度等。</p>
            <p><a class="navy-link" href="#" role="button">详情 &raquo;</a></p>
        </div>
        <div class="col-sm-4">
            <h2>学习内容智能推荐模型</h2>
            <p>设计一种针对大学生用户学习行为分析模型，能够根据大学生用户自身特点以及学习、工作、生活经历的等数据，通过对数据进行整理和分析，为用户匹配相关资源，推荐适合用户的课程内容进行学习。</p>
            <p><a class="navy-link" href="#" role="button">详情 &raquo;</a></p>
        </div>
        <div class="col-sm-4">
            <h2>学习路径智能规划</h2>
            <p>通过用户综合能力测评报告和自身发展需求，为用户提供多元化、个性化的学习路径规划，摒弃以往传统而又固化的课程规划。</p>
            <p><a class="navy-link" href="#" role="button">详情 &raquo;</a></p>
        </div>
    </div>
</section>

<section  class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>10余种课程方向<br/> <span class="navy">100余种课程类别、1000余门不同的课程</span> </h1>
            <p> 多种不同的选择成就不同的你，更助力企业加速成长。 </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-mobile features-icon"></i>
                <h2>自由学习</h2>
                <p>无论什么角色，团队，部门或地点，渔径科技都可以对随时随地进行学习，无论是在PC，移动设备，还是通过其他工具。</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-bar-chart features-icon"></i>
                <h2>实时分析</h2>
                <p>企业领导层可以随时随地查看员工学习情况，深入评估员工综合能力，了解企业内部实际状态。</p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="img/landing/perspective.png" alt="dashboard" class="img-responsive">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="fa fa-book features-icon"></i>
                <h2>知识库</h2>
                <p>渔径系统提供了种类丰富的学习课程，课程领域设计到技术、管理、营销、交际、金融等各大领域。</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-bolt features-icon"></i>
                <h2>智能推荐</h2>
                <p>通过深度学习以及人工智能，根据企业和员工相关数据，智能推荐学习内容、规划学习路径、帮助员工找到职业目标、助力企业成长。</p>
            </div>
        </div>
    </div>
</section>
<section id="comments" class="comments gray-section" style="margin-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>合作伙伴</h1>
                <p>渔径科技已经和众多企业达成合作关系，让企业以全新的培训模式，满足员工发展需求</p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-4">
                <div class="bubble">
                    "如果你能够更加了解你自己，更能确定自己的潜在能力，那么你的学习积极性就会更高，成长的也就更快。"
                </div>
                <div class="comments-avatar">
                    <a href="" class="pull-left">
                        <img alt="image" src="/img/staff/4.png">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            XX 员工
                        </div>
                        <small class="text-muted">江西某企业</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bubble">
                    "渔径在线学习与管理系统让企业以区别于传统的企业培训模式和方法，满足所有员工发展需求。"
                </div>
                <div class="comments-avatar">
                    <a href="" class="pull-left">
                        <img alt="image" src="/img/staff/1.png">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            XX 总经理
                        </div>
                        <small class="text-muted">上海 某企业</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bubble">
                    "渔径科技不仅让新员工更快融入企业内部，为老员工规划职业学习发展路径。学习内容生动有趣，员工进步迅速，企业管理高效。"
                </div>
                <div class="comments-avatar">
                    <a href="" class="pull-left">
                        <img alt="image" src="/img/staff/3.png">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            XX CEO
                        </div>
                        <small class="text-muted">北京某企业</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="team" class="team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>团队</h1>
                <p>我们有一只充满激情、包涵活力、团结奋斗的团队。</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 wow fadeInLeft">
                <div class="team-member">
                    <img src="/img/staff/1.png" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">设计</span> 李加华</h4>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-qq"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-wechat"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-weibo"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member wow zoomIn">
                    <img src="/img/staff/3.png" class="img-responsive img-circle" alt="">
                    <h4><span class="navy">架构</span> 徐唐剑</h4>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-qq"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-wechat"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-weibo"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInRight">
                <div class="team-member">
                    <img src="/img/staff/2.png" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">产品</span> 黄晨</h4>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-qq"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-wechat"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-weibo"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p>来吧，加入我们吧！一起携手共创新时代学习与管理的新风向。</p>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>联系我们</h1>
                <p>准备好加入渔径了吗？</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    <strong><span class="navy">渔径科技</span></strong><br/>
                    江西财经大学<br/>
                    软件与物联网工程学院，330013<br/>
                    <abbr title="Phone">Tel:</abbr> 18379190862
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    如果你准备好了步入移动互联网的时代，让员工具备更强化的知识体系来驱动业务的发展，决心开始非凡的企业成长之路，那就趁着这个机会让我们好好聊聊。
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:test@email.com" class="btn btn-primary">发送邮件</a>
                <p class="m-t-sm">
                    其他联系方式
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-qq"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-wechat"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-weibo"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2018 渔径科技</strong><br/> 一个致力于通过人工智能助力员工发展、企业成长的团队。</p>
            </div>
        </div>
    </div>
</section>


<!-- Local script for menu handle -->
<!-- It can be also directive -->

<script>
    $(document).ready(function () {
        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            if($('body').hasClass('body-small')) {
                $('#navbar').collapse('toggle');
            }
        });

        // Activate WOW.js plugin for animation on scrol
        new WOW().init();
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
            header = document.querySelector( '.navbar-default' ),
            didScroll = false,
            changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();
</script>